<div class="my-5 m-3">

  <div class="p-4 d-flex">
    <input type="text" [(ngModel)]="customerSearchInput" class="form-control" name="" id="" (keyup.enter)="filterCustomers()"(keyup.escape)="filterCustomers()">
    <button class="bg-transparent border-0 ms-2"  matPrefix mat-icon-button
    (click)="filterCustomers();">
    <mat-icon>search</mat-icon>
   </button>
  </div>

  <div *ngIf="filteredCustomers.length!=0 ">
    <table class="table table-striped  table-bordered text-center border border-1  shadow" >
      <thead>
        <tr>
          <th>Name</th>
          <th>Total Transaction Amount</th>
          <th>Transactions per day</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let customer of filteredCustomers">
          <td>{{ customer.name }}</td>
          <td>{{getTransactionAmount(customer.id)}}</td>
          <td><button class="primary" (click)="selectCustomer(customer.id)">View</button></td>
        </tr>
      </tbody>
    </table>
  </div>




  <div *ngIf="filteredCustomers.length !=0 else noData">
    <app-transaction-graph [customerId]="selectedCustomerId" *ngIf="selectedCustomerTransactions.length!=0 else viewCustomer"></app-transaction-graph>

    <ng-template #viewCustomer>
      <h3 class="text-center mt-3 text-primary-color">Please click on View to show transactions graph.</h3>

    </ng-template>

   </div>
</div>


<ng-template #noData>

  <app-no-data-found></app-no-data-found>

</ng-template>
